* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }


/*----------  header  ----------*/

/* remove default styles attached to h1 and link */
h1, a {
    margin: 0;
    text-decoration: none;
}

header {
    padding: 40px 0;
    background: black;
}

header a {
    color: whitesmoke;
}

h1, h2, h3 {
    margin:0;
    text-decoration: none;
}

/* .sideBar {
    order: -1;
} */

/*----------  NoteContainer  ----------*/
.NoteContainer {
    padding-left: 10px;
    width: 100%;
}

.noteListItem {
    text-align: center;
    border: 1px solid black;
    padding-bottom: 20px;;
}

.NoteContainer .addNoteBtn {
    margin-top: 20px;
    border-radius: 8px;
    width: 75%;
    padding: 20px 0;   
}


/*----------  other / flex  ----------*/


  .flexContainer{
    display: flex;
  }
  
  .flexItem {
    flex: 1;
  }
  
  @media all and (min-width: 800px){
    .flexContainer{
      flex-direction: row;
    }
  }