* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }


/*----------  header  ----------*/

/* remove default styles attached to h1 and link */
h1, a {
    margin: 0;
    text-decoration: none;
}

header {
    padding: 40px 0;
    background: black;
}

header a {
    color: whitesmoke;
}

h1, h2, h3 {
    margin:0;
    text-decoration: none;
}


/*----------  NoteContainer  ----------*/
.NoteContainer {
    padding-left: 10px;
    width: 100%;
}

.noteListItem {
    text-align: center;
    border: 1px solid black;
    padding-bottom: 20px;;
}

.NoteContainer .addNoteBtn {
    margin-top: 20px;
    border-radius: 8px;
    width: 75%;
    padding: 20px 0;   
}


/*----------  Sidebar  ----------*/
/* remove default styling attached to ul and li tags */
.sidebar ul, li {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* custom formatting */
.sidebar li {
    padding: 10px 0;
    border: 1px solid black;
}

.sidebar {
    background-color: grey;
    order: -1;
}

.sidebar input[type="button"] {
    margin-top: 20px;
    border-radius: 8px;
    width: 90%;
    padding: 20px 0;

    
}

@media all and (min-width: 800px){
    .sidebar{
        height: 100vh;
        min-width: 25vw;
    }
  }

/*----------  other / flex  ----------*/


  .flexContainer{
    display: flex;
  }
  
  .flexItem {
    flex: 1;
  }
  
  @media all and (min-width: 800px){
    .flexContainer{
      flex-direction: row;
    }
  }