/*----------  Sidebar  ----------*/
/* remove default styling attached to ul and a tags */

.sideBar ul, a {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    list-style-type: none;    
}


.sideBar a:visited {
    color: inherit;
}

/* custom formatting */
.sideBar a {
    padding: 10px 0;
    border: 1px solid black;
    display: block;
}

.sideBar {
    background-color: grey;
    order: -1;
}

.sideBar input[type="button"] {
    margin-top: 20px;
    border-radius: 8px;
    width: 90%;
    padding: 20px 0;

    
}

.active {
    font-size: large;
    background: whitesmoke;
}

@media all and (min-width: 700px){
    .sideBar{
        height: 100vh;
        min-width: 25vw;

    }
  }


